.chatHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: gray;
	padding: 2px 10px;
	border-bottom: 2px solid #313235;
	background-color: #36393f;
}

.chatHeader__hash {
	color: gray;
	font-size: 30px;
	/* padding: 10px; */
}

.chatHeader__left > h3 {
	display: flex;
	align-items: center;
	color: white;
}

.chatHeader__right {
	display: flex;
	align-items: center;
	flex: 0.4;
	justify-content: space-between;
}

.chatHeader__right > .MuiSvgIcon-root {
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
	color: white;
}

.chatHeader__search {
	display: flex;
	align-items: center;
	color: gray;
	border-radius: 5px;
	padding: 3px;
	background: #202225;
}

.chatHeader__search > .MuiSvgIcon-root {
	font-size: 20px;
}

.chatHeader__search > input {
	background: transparent;
	outline-width: 0;
	color: white;
	border: none;
}

.chatHeader__channel_name {
	margin-left: 10px;
	font-size: 16px;
}
