.chatStartPoint__container {
	margin: 15px;
	margin-top: 100px;
	border-bottom: 1px solid #494c53;
}
.chatStartPoint__main {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	margin: 8px 0;
	color: white;
}
.chatStartPoint__secondary {
	color: #b9bbbe;
}
.chatStartPoint__edit_btn {
	color: #00b0f4;
	margin-top: 5px;
	margin-right: 8px;
	padding: 6px;
	border: 0;
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
	background: transparent;
}
.chatStartPoint__edit_btn:hover {
	background-color: #3f4147;
}
.chatStartPoint__btn_wrap {
	margin-top: 2px;
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}
.chatStartPoint__edit_btn_txt {
	font-size: 16px;
	line-height: 20px;
	padding: 4px;
}
.chatStartPoint__edit_btn_icon {
	padding: 4px;
}
.chatStartPoint__empty_channel_icon {
	width: 68px;
	height: 68px;
	margin-top: 16px;
	border-radius: 50%;
	background-color: #4f545c;
	/* background-image: url(/assets/a9847a7….svg); */
	background-repeat: no-repeat;
	background-position: 50%;
}
.chatStartPoint__empty_channel_icon_hash {
	font-size: 50px;
	margin-left: 25%;
	color: white;
}
