.chat__messages::-webkit-scrollbar {
	/* display: none; */
	width: 8px;
	background: #2e3338;
	border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 10px;
	/* color of the tracking area */
}

.chat__messages {
	flex: 1;
	overflow: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	/* scrollbar-color: rgb(90, 64, 9) rgb(57, 26, 87); */
	/* scroll thumb & track */
}

.chat__input {
	color: lightgray;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: 5px;
	/* margin: 20px; */
	margin: 0px 15px 60px 15px;
	border-top: 1px solid gray;
	background-color: #474b53;
}

.chat__input > form > div {
	padding: 10px;
	background: transparent;
	width: 100%;
	border: none;
	outline-width: 0;
	color: white;
	font-size: large;
}

.chat__input > form {
	flex: 1;
}

.chat__inputButton {
	display: none;
}

.chat__inputIcons {
	display: flex;
	flex-direction: row;
}

.chat__inputIcons > .MuiSvgIcon-root {
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	font-size: 25px;
}
.chat__inputIcons > .MuiSvgIcon-root:hover {
	color: white;
}

.msg_submit {
	display: none;
}
[contenteditable='true']:empty:before {
	content: attr(placeholder);
	display: block;
	color: #aaa;
}
[contenteditable='true'] {
	cursor: text;
	-webkit-user-modify: read-write-plaintext-only;
}
