.sidebarChannel {
	padding: 1px 8px;
}
.sidebarChannel:hover > div {
	color: white;
	background-color: #34373c;
}

.curr_channel {
	color: white;
	background-color: #34373c;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
	padding: 0px 10px;
	display: flex;
	padding: 0px 10px;
	align-items: center;
	cursor: pointer;
}

.sidebarChannel__wrap {
	display: flex;
	padding: 0px 10px;
	align-items: center;
	background-color: #2f3135;
	color: gray;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
}

.sidebarChannel__hash {
	font-size: 25px;
	padding: 0px 8px;
	flex-grow: 0;
}

.sidebarChannel__name {
	flex-grow: 1;
}

.sidebarCurr > h4 {
	background-color: #393c43;
	color: white;
}

.sidebar__channelIcons {
	flex-grow: auto;
}

.sidebar__channelIcons > .MuiSvgIcon-root {
	font-size: 15px;
}

.sidebar__channelIcons > .MuiSvgIcon-root:hover {
	color: white;
}

.sidebarChannel__wrap {
	display: flex;
}

.sidebarChannel__wrap .sidebar__channelIcons {
	display: none;
}

.sidebarChannel__wrap:hover .sidebar__channelIcons {
	display: block;
}
