.message__edit__input__container {
	border-radius: 8px;
	background-color: #40444b;
	margin: 10px 5px 0px 0px;
}

.message__edit__input {
	padding: 10px;
	background: transparent;
	width: 600px;
	border: none;
	outline-width: 0;
	color: white;
	font-size: 15px;
}

.message__edit__inputButton {
	display: none;
}

.message__edit__desc {
	color: gray;
	margin-top: 4px;
	font-size: 3px;
}

.message__edit__canc,
.message__edit__save {
	color: #7289da;
	cursor: pointer;
}
